{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki: Create
{% endblock %}

{% block body %}

<form id="creation" action="{% url 'create' %}" method="POST">
    {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        {% endif %}

    {% for field in form %}
        <div class="field">
            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name}}</label><br>
            {{ field }}
        </div> 
    {% endfor %}
    <input type="submit" id="submit">
</form>

{% endblock %}